.loader-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.8);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(10px);
   z-index: 1030;
}

.loader {
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 5px solid rgba(77, 135, 142, 0.2);
   /* Light border color */
   border-radius: 50%;
   border-top-color: rgb(77, 135, 142);
   /* Loader color */
   animation: spin 1s linear infinite;
   /* Rotate animation */
}

.loader-text {
   margin-top: 1rem;
   color: rgb(77, 135, 142);
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}