.side-bar {
   position: fixed;
   left: 0;
   top: 10rem;
   background-color: rgb(77, 135, 142);
   min-height: calc(100vh - 18rem);
   width: 3.5rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.side-bar .nav {
   background-color: white;
}

.side-bar a {
   color: rgb(77, 135, 142) !important;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding-left: 3.5rem !important;
   padding-right: 1.75rem !important;
   margin-left: -1.75rem;
   transition: transform 425ms cubic-bezier(.05, .65, .18, 1);
}

.side-bar a:hover {
   transform: translate3d(1.5rem, 0, 0);
}

.side-bar a.active {
   transform: translate3d(1.5rem, 0, 0);
}