.header {
   padding: 2rem 1rem;
   align-items: start;
   justify-items: center;
   grid-area: header;
   background: white
      /* flex-wrap: wrap */
}

.header img {
   max-width: 10rem;
   width: 100%;
}

.header div {
   flex: 1 1 auto;
   /* color: white */
}

.header .nav a {
   border-bottom: 1px solid transparent;
   color: rgb(77, 135, 142) !important
}

.header .nav a:hover {
   border-bottom: 1px solid rgb(77, 135, 142)
}

.header .nav a.active {
   border-bottom: 1px solid rgb(77, 135, 142)
}