.header {
   align-items: start;
   justify-items: center;
   grid-area: header;
   background: white
      /* flex-wrap: wrap */
}

.header img {
   max-width: 10rem;
   width: 100%;
}

.header div {
   flex: 1 1 auto;
   /* color: white */
}

.header .nav {
   padding-right: 1rem;
}

.header .nav a {
   border: 1px solid rgb(77, 135, 142);
   color: rgb(77, 135, 142) !important;
   position: relative;
   margin: 0 1rem;
   transition: 1s;
   width: max-content;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header .nav a::before,
.header .nav a::after {
   position: absolute;
   background: white;
   z-index: -1;
   transition: 1s;
   content: '';
}

.header .nav a::before {
   height: 106%;
   width: calc(100% - 10px);
   z-index: 0;
}

.header .nav a::after {
   width: 103.5%;
   height: calc(100% - 10px);
   z-index: 0;
}

.header .nav a:hover::before {
   width: 0;
}

.header .nav a:hover::after {
   height: 0;
}