.home {
   grid-area: main;
   /* max-width: 100vw;
   overflow-x: hidden; */
}

.home,
.projects {
   margin: 0 3.5rem
}

.img-container {
   width: 45rem;
   height: 45rem;
   max-width: 45rem
}

.home img {
   border-radius: 50%;
   width: 100%;
   height: auto;
   max-width: 45rem
}

.bubble-wrapper a,
.cloned-link {
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   background-color: white;
   color: rgb(77, 135, 142) !important;
   display: flex;
   align-items: center;
   justify-content: center;
   border: solid 1px transparent;
   transition: transform 0.5s ease, filter 0.5s ease;
}

.bubble-wrapper a:hover,
.cloned-link:hover {
   background-color: rgb(77, 135, 142);
   color: white !important;
   border: solid 1px white;
   transform: scale(1.2);
}

/* TODO: get rid of these animations? */
.img-container.animate-from-left {
   animation: animateFromLeft 1s forwards;
}

@keyframes animateFromLeft {
   0% {
      transform: translateX(-100%);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.animate-fade-in {
   opacity: 0;
   /* Initial opacity */
   animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.bubble-content.animate-from-right {
   animation: animateFromRight 1s forwards;
}

@keyframes animateFromRight {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 1;
   }
}