* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --bs-body-font-size: 1.6rem !important;
  list-style: none;
}

a {
  color: var(--bs-heading-color) !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

#root {
  /* padding: 4rem 8rem; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3.5rem repeat(5, 1fr);
  grid-template-rows: 10rem 1fr auto;
  grid-template-areas:
    "header header header header header header"
    "sidebar main main main main main"
    "footer footer footer footer footer footer";
  min-height: 100vh;
  transition: filter 0.5s ease;
  background-color: rgb(77, 135, 142) !important;
  z-index: 1;
  position: relative;
  overflow-x: hidden
}

#root.blur {
  filter: blur(5px);
  transition: filter 0.5s ease;
  /* position: relative; */
}

#root.blur~.cloned-link {
  filter: blur(5px);
}

.cloned-link.not-blur {
  filter: blur(0) !important;
}

.nav-link.not-blur {
  filter: blur(0) !important;
}

.page {
  transition: transform 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.page.slide-enter {
  transform: translateX(0);
}

.page.slide-exit {
  transform: translateX(-100%);
}