* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--bs-heading-color) !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

#root {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  min-height: 100vh;
}